@import '../../styles/variables';

.Input {
  font-family: 'Poppins';
  margin-bottom: 0.5em;
  font-size: 1rem;
  outline: none;
  display: grid;
  justify-content: center;
  grid-template-columns: 100%;
  label {
    font-size: 0.85em;
    margin-bottom: 0.25em;
    outline: none;
  }
  input {
    height: 2em;
    padding: 0.25em 0.5em;
    border-radius: 3px;
    border: 1px solid $light-grey;
    font-family: inherit;
    font-size: 0.9em;
    &:active,
    &:focus,
    &:hover {
      border-color: $primary-color;
      outline: none;
    }
    &.Error {
      border-color: $danger;
    }
  }
  span {
    color: $danger;
    font-size: 0.75em;
  }
}
