@import "../../styles/variables";
.Button {
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
  touch-action: manipulation;
  position: relative;
  color: $white;
  height: 2.25em;
  border-radius: 5px;
  font-family: "Poppins";
  border:0;
  background: $primary-color;
  &:hover{
    color: $white;
    background-color: transparentize($primary-color, 0.1);
    
  }
  &.neutral {
    border: $light-grey 1px solid;
    background-color:$light-grey;
    color: $primary-color;
  }
  &.primary {
    border: $primary-color 1px solid;
    background-color: $primary-color;
    color: $white;
  }
}
