@import "../../styles/variables";
.Button {
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
  touch-action: manipulation;
  position: relative;
  color: $white;
  height: 3em;
  border-radius: 3px;
  font-family: Jost;
  border:0;
  background: $primary-color;
  &:hover{
    color: $white;
    background: lighten($color: $primary-color, $amount: .4);
  }
}
