@import '../../styles/variables';
@import '../../styles/breakpoint';

.Auth {
  font-size: 1rem;
  background: $white;
  border-radius: 5px;
  font-family: 'Poppins';
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: 1em;
  grid-template-areas:
    'header'
    'body'
    'footer';
  @include sm {
    padding: 0 1em;
  }

  h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.2em;
    font-family: 'Poppins';
    font-weight: 400;
    grid-area: header;
    &::after {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      background: #f0f4f9;
      margin: 0.5em auto;
      border-radius: 0.1em;
    }
  }
  &Body {
    grid-area: body;
    .isTwo {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 1.5em;
      @include sm {
        grid-column-gap: 1em;
      }
    }
  }
  &Footer {
    grid-area: footer;
    button {
      margin: 1em 0 0;
    }
    a {
      text-align: right;
      margin-left: auto;
      display: block;
      text-decoration: none;
      color: inherit;
      font-size: 0.8em;
      margin-top: 1em;
      &:hover {
        color: $primary-color;
      }
    }
  }

  .Completed {
    text-align: center;
    svg {
      height: 3em;
      width: 3em;
    }
  }
}
