.Home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  font-size: 1rem;
  &Content {
    background: white;
    padding: 2em;
    overflow: auto;
    .Posts {
      border: 1px solid #e5e5e5;
      padding: 1em;
      margin-bottom: 2em;
      border-radius: 5px;
    }
  }
  &Edit {
    background: #f5f7fd;
    height: 100%;
    .Editor {
        display: grid;
        align-items: center;
        height: 100%;
      &Card {
        margin: 4em 2em;
        background: white;
        padding: 1.5em 2em;
        border-radius: 5px;
        min-height: 35em;
        textarea{
            height: 28em;
            border: 1px solid #f0f4f9;
            box-shadow: unset;
            margin: 1em 0;
        }
        .submit{
            text-align: right;
            button{
                width: 10em;
             
            }
        }
      }
    }
  }
}
