@import '../../styles/variables';
.Public {
  display: grid;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 3.75em 1fr auto;
  grid-template-areas:
    'header'
    'body'
    'footer';
  .header {
    grid-area: header;
    background-color: white;
    align-items: center;
    display: flex;
    padding: 0 2em;
    font-weight: 400;
  }
  .body {
    grid-area: body;
    background: #f5f7fd;
    display: grid;
    place-items: center;
    &Card {
      min-height: 26em;
      min-width: 30em;
      width: auto;
      height: auto;
      background: white;
      padding: 2em 3em;
      border-radius: 10px;

      small {
        a {
          color: #0f8cff;
          text-decoration: none;
        }
      }
    }
  }
  .footer {
    grid-area: footer;
    height: 3em;
    padding: 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 0.75em;
      padding: 0 0.85em 0 0em;
      &:hover {
        color: #0f8cff;
      }
    }
  }
}
.Private {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 4.5em 1fr;
  grid-template-rows: 100%;
  height: 100vh;
  &Side {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    grid-template-rows: 4em 1fr 4em;
    place-items: center;
    svg{
      color: $white;
    }
    &Logo {
    }
    &Footer {
    }
  }
  &Main {
    height: 100%;
    width: 100%;
  }
}
